/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------reset css---------------------------------*/

header {
    height: 3rem;
    margin-bottom: 24px;
    background-color: rgb(121, 85, 134);
    color: #fff;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav>li {
    padding: 10px;
    margin-right: 10px;
}

.nav>li>a {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: #f5f5f5;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border: 1px solid #d0d1d5;;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

.container > h1 {
    font-size: 36px;
    font-weight: 400;
    height: 150px;
    border-bottom: 1px solid #d0d1d5;;
    line-height: 1.4;
    color: #646464;
    margin: auto 15px;
    letter-spacing: -2px;
}

.container > p {
    font-size: 18px;
    line-height: 1.7;
    padding: 20px;
    margin-top: 20px;
    color: #646464;
}


.box {
    padding: 20px;
    box-sizing: border-box;
}

.box > h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

.box > p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 15px;
    margin-left: 10px;
    color: #646464;
}

.box > a {
    text-decoration: none;
}


.exam_box {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 15px;
    margin-left: 10px;
    color: #646464;
}

.exam_box > p {
    margin-bottom: 6px;

}

.copy {
    font-size: 10px;
    line-height: 1.2;
    color: #646464;
    font-weight: lighter;
}

.item_box {
    display: flex;
}

.item {
    text-align: center;
}

.item > img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.item > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    background-color: #818181;
}

.item > p {
    margin-bottom: 20px;
}

.text_box {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 15px;
    margin-left: 10px;
    color: #646464;
}

.text_box > h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.img_box {
    display: flex;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

.img_item {
    margin-right: 20px;
    text-align: center;
}

.img_item > p:nth-of-type(1) {
    font-size: 16px;
    line-height: 1.4;
    color: #646464;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img_item > p:nth-of-type(2) {
    font-size: 16px;
    line-height: 1.4;
    color: #646464;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img_item > img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.article {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 15px;
    color: #646464;
    font-weight: 600;
    margin-left: 10px;
}

.original {
    display: flex;
    justify-content: center;
    border: 1px solid #646464;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
}

.org_text {
    font-size: 14px;
    line-height: 1.7;
    color: #646464;
    padding: 20px;
    text-align:center;
    box-sizing:border-box;
}

.org_text > h3{
    font-weight:600;
}

#margin {
    margin-top:40px;
}

.italic {
    font-style: italic;
    text-align: center;
}